<!DOCTYPE hmtl>
<html>
  <head>
    <meta charset = "utf-8"> <title> Quiz </title>
    <link rel = 'stylesheet' href = '/stylesheets/style.css' />
  </head>
  <body>
    <h2>Author</h2>
    <p>Olimpia Muñoz Garrido</p>
    <img src = "/images/foto.png" widht = "120px" height = "158px">
  </body>
</html>
